@{ViewBag.Title = " شاشة الطبيب";}
<script language="javascript" type="text/javascript">
    function shiftcount() {
        $.ajax({
            url: '/Doctors/Doctor/shiftcount', cache: false, type: "POST", success: function (data) {
                $('#shftid').val(parseFloat(data).toFixed(0))
            }
        }).then(function () {
            setTimeout(shiftcount, 900000);
        });;
    }
    function picpath(id) {
        $.ajax({
            url: '/Doctors/Doctor/PatRay', cache: false, type: "POST", success: function (data) {
                $('#targetImg').attr('src', '/Doctors/Rays/Img/' + data)
            }
        }).then(function () {
            setTimeout(shiftcount, 900000);
        });;
    }
    function Gent() {
        $.ajax({
            url: '/Doctors/Doctor/Tcount', cache: false, type: "POST", success: function (data) {
                $('#shiftid').val(parseFloat(data).toFixed(0))
            }
        });
    }
    function shiftdate() {
        $.ajax({
            url: '/Doctors/Doctor/shiftdate', cache: false, type: "POST", success: function (data) {
                $('#shftdate').val(data)
            }
        });
    }
    function fixcount() {
        $.ajax({
            url: '/Erp/Pro/fixcount', cache: false, type: "POST", success: function (data) {
                $('#fxcount').text(parseFloat(data).toFixed(0))
            }
        });
    }
    function savcount() {
        $.ajax({
            url: '/Erp/Pro/savcount', cache: false, type: "POST", success: function (data) {
                $('#savcount').text(parseFloat(data).toFixed(0))
            }
        });
    }
</script>
<link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
<link href="~/Content/style.min.css" rel="stylesheet" />
<link href="~/Content/gritter/css/jquery.gritter.css" rel="stylesheet" />
<link href="~/Content/style-responsive.min.css" rel="stylesheet" />
<link href="~/Content/google-grid.css" rel="stylesheet" />
<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/animate.css" rel="stylesheet" media="screen">
<input type="hidden" id="cby"  value=@HttpContext.Current.User.Identity.Name.Split('|')[1] />
<input type="hidden" id="cbyn" value=@HttpContext.Current.User.Identity.Name.Split('|')[0] />
<input type="hidden" id="vpatid" />
<div class="modal fade" id="mdcashrp">
    <div class="modal-prn">
        <div class="modal-contentp">
            <div class="modal-header text-center" style="background-color:#fff">
                <a href="javascript:;" id="bbcashrp" type="button" class="btn btn-sm btn-success no-print">طباعة</a>
                <a type="button" href="javascript:;" id="prn" class="btn btn-sm btn-danger no-print" data-dismiss="modal">إغلاق</a>
                <div class="form-group" style="margin:0px 5px 0px 5px">
                    <label>مستشفي حفصه العوضي التخصصي</label>
                    <br />
                    <label>الاستقبال</label>
                </div>
            </div>
            <div class="row">
                <div class="form-inline ls_form">
                    <div class="form-group" style="margin:0px 25px 0px 5px">
                        <label>اسم المريض</label>
                        <label id="patientname"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-inline ls_form">
                    <div class="form-group" style="margin:0px 25px 0px 5px">
                        <label>الخدمة</label>
                        <label id="vserv"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-inline ls_form">
                    <div class="form-group" style="margin:0px 25px 0px 5px">
                        <label>الطبيب</label>
                        <label id="vdoc"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-inline ls_form">
                    <div class="form-group" style="margin:0px 25px 0px 5px">
                        <label>المبلغ</label>
                        <label id="xval"></label>
                    </div>
                </div>
            </div>

            <div class="form-group" style="margin:0px 25px 0px 5px">
                <label>تاريخ:</label>
                <label id="ZDPRNT" style="margin-left:5px">@DateTime.Today.ToString("yyyy-MMM-dd")</label>
                <label style="margin:0px 2px">الوقت:</label>
                <label id="ZTPRNT">@DateTime.Now.ToString("hh:mm tt")</label>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="MdAdPatAdvanced">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header " style="background-color: #ffc800;">
                <label class="modal-title ">Patient advanced Details</label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>Patient</label>
                            <input type="text" id="sPatient" class="form-control text-center" style="width:300px" readonly="readonly"/>
                            <input type="hidden" id="PatID"/>
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>Service</label>
                            <input type="text" id="serv" class="form-control text-center" style="width:150px" readonly="readonly" />
                            <input type="hidden" id="servID" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                            <label>Diagnosis</label>
                            <input type="text" id="DiagPat" class="form-control text-left"  style="width:70%;"/>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="form-inline ls_form">
                            <label>Examination</label>
                            <input type="text" id="ExamPat" class="form-control text-left" style="width:70%;"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="adnpat" type="button" class="btn btn-sm btn-success">اضافة</a>
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdshift">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">شفت العمل اليومي </label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>رقم الشفت </label>
                            <input type="text" id="shiftid" class="form-control text-center" style="width:250px" readonly="readonly" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>تاريخ الشفت</label>
                            <input type="datetime" id="shiftdate" class="form-control text-center" style="width:250px" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="adshift" type="button" class="btn btn-sm btn-success">اضافة</a>
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdadditem">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">Medical  </label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>المريض  </label>
                            <input type="text" id="zpatname" class="form-control text-center" style="width:auto" readonly="readonly" />
                            <input type="hidden" id="zpatid" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>الخدمة </label>
                            <input type="datetime" id="zserv" class="form-control text-center" style="width:auto" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>Item Name  </label>
                            <input type="text" id="itemname" class="form-control text-center" style="width:250px" />
                            <input type="hidden" id="itemid" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>Dose Name </label>
                            <input type="text" id="dosename" class="form-control text-center" style="width:250px" />
                            <input type="hidden" id="doseid" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="panel-body" id="panledcpatient" style="max-height:200px; min-height:10px; padding:1px">
                        <table id="tbitemmeditadd" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Drugs Name </th>
                                    <th></th>
                                    <th>Dose Drugs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="adshift" type="button" class="btn btn-sm btn-success">اضافة</a>
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdshiftreport">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">تقرير الشفت اليومي </label>
            </div>
            <div class="modal-body">
                <table id="shiftreport" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>رقم الشفت</th>
                            <th>تاريخ </th>
                            <th class="text-center"> اجمالي</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                @*  <a href="javascript:;" id="adshift" type="button" class="btn btn-sm btn-success">اضافة</a>*@
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MdAdPatAdvanced">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header " style="background-color: #ffc800;">
                <label class="modal-title ">Patient advanced Details</label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>Patient</label>
                            <input type="text" id="sPatient" class="form-control text-center" style="width:300px" readonly="readonly" />
                            <input type="hidden" id="PatID" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>Service</label>
                            <input type="text" id="serv" class="form-control text-center" style="width:150px" readonly="readonly" />
                            <input type="hidden" id="servID" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <label>Diagnosis</label>
                        <input type="text" id="DiagPat" class="form-control text-left" style="width:70%;" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="form-inline ls_form">
                        <label>Examination</label>
                        <input type="text" id="ExamPat" class="form-control text-left" style="width:70%;" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="adnpat" type="button" class="btn btn-sm btn-success">اضافة</a>
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<!-- begin col-4 -->
<div class="row">
    <div class="col-md-12">
       <div id="a-panal" class="panel panel-success" style="margin-bottom:1px" data-sortable-id="index-1">
                <div class="panel-heading" style="height: 50px;">
                    <label class="panel-title" style="font-size:15px;" > Patient Basic Details </label>
                    <div class="btn-group m-r-5 pull-left">
                        <button class="btn-group-sm btn-icon btn-square btn-info pull-left" title="تبديل "  id="btbillexpand"><i class="fa fa-expand"></i></button>
                        <button class="btn-group-sm btn-icon btn-square btn-success pull-left" title="تحديث " id="refresh"><i class="fa fa-repeat"></i></button>
                        <button class="btn-group-sm btn-icon btn-square btn-warning pull-left" title="تعديل البيانات " id="patedit"><i class="fa fa-edit"></i></button>
                    </div>
                </div>
                <div class="panel-body" id="panledcpatient" style="max-height:200px; min-height:10px; padding:1px">
                    <table id="dcpatient" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-center">Patient</th>
                                <th class="text-center">Service </th>
                                <th class="text-center">DateTime</th>
                                <th class="text-center">Treatment</th>
                                <th class="text-center">Perv Diagnosis</th>
                                <th class="text-center">Diagnosis</th>
                                <th class="text-center">Examination</th>
                                <th class="text-center">Next Patient</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
       </div>
    </div>
</div>
<hr />
<div id="content" class="content">
    <div class="row">
        <div class="col-md-6">
            <div id="b-panal" class="panel panel-primary" style="margin-bottom:5px" data-sortable-id="index-1">
                <div class="panel-heading" style="height: 50px;">
                    <label class="panel-title" style="font-size:13px;"> Medical Details </label>
                    <div class="btn-group m-r-5 pull-left">
                        <button class="btn-group-sm btn-icon btn-square btn-info pull-left" title="Expand " id="btitem"><i class="fa fa-expand"></i></button>
                        <button class="btn-group-sm btn-icon btn-square btn-success pull-left" title="Reload Data " id="btitemrefresh"><i class="fa fa-repeat"></i></button>
                        
                    </div>
                </div>
                <div class="panel-body" id="panelitemmedic" style="max-height:400px; display:none;  min-height:200px; padding:10px">
                    <table id="tbitemmedit" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Drugs Name </th>
                                <th></th>
                                <th>Dose Drugs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- end col-4 -->
        </div>
        <div class="col-md-6">
            <div id="b-panal" class="panel panel-primary" style="margin-bottom:5px" data-sortable-id="index-1">
                <div class="panel-heading" style="height: 50px;">
                    <label class="panel-title" style="font-size:13px;">  Queue </label>
                    <div class="btn-group m-r-5 pull-left">
                        <button class="btn-group-sm btn-icon btn-square btn-info pull-left" title="تبديل " id="btQueueexpand"><i class="fa fa-expand"></i></button>
                        <button class="btn-group-sm btn-icon btn-square btn-success pull-left" title="تحديث " id="refreshwait"><i class="fa fa-repeat"></i></button>

                    </div>
                </div>
                <div class="panel-body" id="panelwaitlist" style="max-height:400px; display:none;  min-height:200px; padding:10px">
                    <table id="tbwait" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>رقم الملف</th>
                                <th class="text-center"> المريض</th>
                                <th>خدمة</th>
                                <th>وقت الحضور</th>
                                <th>ترتيب</th>
                                <th>دخول</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end col-4 -->
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="b-panal" class="panel panel-danger"  style="margin-bottom:5px;  "  data-sortable-id="index-1">
                <div class="panel-heading" style="height: 50px;">
                    <label class="panel-title" style="font-size:15px; align-content:center">  X-Rays </label>
                    <div class="btn-group m-r-5 pull-left">
                        <button class="btn-group-sm btn-icon btn-square btn-info pull-left" title="تبديل " id="btRaysexpand"><i class="fa fa-expand"></i></button>
                       @* <button class="btn-group-sm btn-icon btn-square btn-success pull-left" title="تحديث " id="refreshwait"><i class="fa fa-repeat"></i></button>*@
                    </div>
                </div>
                <div class="panel-body" id="panelraylist" style="max-height:400px;  display:none; min-height:200px; padding:10px">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="grid-gallery" class="grid-gallery">
                            <section class="grid-wrap">
                                <ul class="grid" >
                                    <li class="grid-sizer"></li><!-- for Masonry column width -->
                                    <li style="width: 100%">
                                        <figure>
                                            <img id="targetImg" src=" " alt="صورة الاشاعة  " />
                                            <figcaption>
                                                <label id="namefiles"></label>
                                            </figcaption>
                                        </figure>
                                    </li>
                                </ul>
                            </section><!-- // grid-wrap -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="b-panal" class="panel panel-primary" style="margin-bottom:5px" data-sortable-id="index-1">
                <div class="panel-heading" style="height: 50px;">
                    <label class="panel-title" style="font-size:13px;">  Medical History </label>
                    <div class="btn-group m-r-5 pull-left">
                        <button class="btn-group-sm btn-icon btn-square btn-info pull-left" title="تبديل " id="btMHexpand"><i class="fa fa-expand"></i></button>
                        <button class="btn-group-sm btn-icon btn-square btn-success pull-left" title="تحديث " id="refreshMH"><i class="fa fa-repeat"></i></button>

                    </div>
                </div>
                <div class="panel-body" id="panelMedicalHistory" style="max-height:400px; display:none;  min-height:200px; padding:10px">
                    <table id="tabMH" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Drugs Name </th>
                                <th></th>
                                <th>Dose Drugs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- end col-4 -->
    </div>
</div>
<link href="~/Content/select2.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/apps.min.js"></script>
    <script src="~/Scripts/dts.js"></script>
    <script src="~/Scripts/select2.full.min.js"></script>
    <script>
            $(document).ready(function () {
                App.init();
                // date function
            });
            function refresh() {
                var table = $('#tbwait').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Doctor/WaitTbl').load();

                var table = $('#dcpatient').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Doctor/PatTbl').load();
            }
            function getdate() {
                var date = new Date(),
                  year = date.getFullYear(),
                  month = (date.getMonth() + 1).toString(),
                  formatedMonth = (month.length === 1) ? ("0" + month) : month,
                  day = date.getDate().toString(),
                  formatedDay = (day.length === 1) ? ("0" + day) : day,
                  hour = date.getHours().toString(),
                  formatedHour = (hour.length === 1) ? ("0" + hour) : hour,
                  minute = date.getMinutes().toString(),
                  formatedMinute = (minute.length === 1) ? ("0" + minute) : minute,
                  second = date.getSeconds().toString(),
                  formatedSecond = (second.length === 1) ? ("0" + second) : second;
                return formatedDay + "-" + formatedMonth + "-" + year + " " + formatedHour + ':' + formatedMinute + ':' + formatedSecond;
            };

        // select2 function
            $(".js-example-basic-single").select2({
                dir: "rtl", language: "ar", selectOnClose: true, width: '30%'
            });
            // var data table current patient 
            var table = $('#dcpatient').DataTable({
                cache: true,
                bProcessing: false, sAjaxSource: '/Doctors/Doctor/PatTbl', "order": [[0, "desc"]], bFilter: false, bInfo: false, lengthChange: false, scrollY: false, scrollCollapse: false, bPaginate: false,
                columns: [
             { "data": "ID", "visible": false },        
             { "data": "PatientName", "width": "1%" },
             { "data": "ServName", "width": "1%" },
             {"data": "CreateDate", "width": "1%", "render": function (data) {
               if (data == null) { return "--" } else {
                         var date = new Date(parseInt(data.substr(6))).getDate();
                         var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
                         var datey = new Date(parseInt(data.substr(6))).getFullYear();
                         var hour = new Date(parseInt(data.substr(6))).getHours();
                         var minute = new Date(parseInt(data.substr(6))).getMinutes();
                         var secend = new Date(parseInt(data.substr(6))).getSeconds();
                         var fl = datey + "-" + datem + "-" + date + " " + hour + ":" + minute + ":" + secend ;
              return fl}}},
             {
               "data": null, "sClass": "dt-center", "width": "1%", "orderable": false,
               "defaultContent": "<button  class='btnaddnewitem small btn-warning'id='post'><i class='fa fa-heartbeat'></button>"
             },
             { "data": "PrevDiagnosis", "width": "1%" },
             { "data": "Diagnosis", "width": "1%" },
             { "data": "Examination", "width": "1%" },
             {
                 "data": null, "sClass": "dt-center", "width": "1%", "orderable": false,
                 "defaultContent": "<button  class='nextpatient small btn-success'id='post'><i class='fa fa-step-backward'></button>"
             },
             { "data": "Code", "visible": false },
                { "data": "Serv", "visible": false }
                ]
            });
        // var data table wait quee list 
            var table = $('#tbwait').DataTable({
                cache: true,
                bProcessing: false, sAjaxSource: '/Doctors/Doctor/WaitTbl', "order": [[4, "asc"]], bFilter: true, bInfo: false, lengthChange: false, scrollY: '250px', scrollCollapse: true, bPaginate: true,
                columns: [
             { "data": "ID", "visible": false },
             { "data": "PatientName", "width": "2%" },
             { "data": "ServName", "width": "1%" },
             {
                 "data": "CreateDate", "width": "3%", "render": function (data) {
                     if (data == null) {
                         return "--"
                     }
                     else {
                         var date = new Date(parseInt(data.substr(6))).getDate();
                         var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
                         var datey = new Date(parseInt(data.substr(6))).getFullYear();
                         var hour = new Date(parseInt(data.substr(6))).getHours();
                         var minute = new Date(parseInt(data.substr(6))).getMinutes();
                         var secend = new Date(parseInt(data.substr(6))).getSeconds();
                         var fl = datey + "-" + datem + "-" + date + " " + hour + ":" + minute + ":" + secend;
                         return fl
                     }
                 }
             },
             { "data": "Sorted", "width": "1%" },
             {
             "data": null, "sClass": "dt-center", "width": "1%", "orderable": false,
             "defaultContent": "<button  class='quebutton small btn-success'id='zpost'><i class='fa fa-stethoscope'></button>"
             }

                ]
            });
        // var data table medical details
            var table = $('#tbitemmedit').DataTable({
                cache: true,
                bProcessing: false, sAjaxSource: '/Doctors/Doctor/MDetails?id=' + $('#vpatid').val(), "order": [[0, "desc"]], bFilter: true, bInfo: false, lengthChange: false, scrollY: '250px', scrollCollapse: true, bPaginate: true,
                columns: [
             { "data": "ID", "visible": false },
             { "data": "PatientID", "visible": false },
             { "data": "ItemMedicID", "visible":  false },
             { "data": "EnName", "width": "1%" },
             { "data": "Dose", "visible":false },
             { "data": "DoseName", "width": "1%" }            
                ]
            });
            // var data table medical details add
            var table = $('#tbitemmeditadd').DataTable({
                cache: true,
                bProcessing: false, sAjaxSource: '/Doctors/Doctor/MDetails?id=' + $('#vpatid').val(), "order": [[0, "desc"]], bFilter: false, bInfo: false, lengthChange: false, scrollY: '100px', scrollCollapse: false, bPaginate: false,
                columns: [
             { "data": "ID", "visible": false },
             { "data": "PatientID", "visible": false },
             { "data": "ItemMedicID", "visible": false },
             { "data": "EnName", "width": "1%" },
             { "data": "Dose", "visible": false },
             { "data": "DoseName", "width": "1%" }
                ]
            });
            // var data table medical history
            var table = $('#tabMH').DataTable({
                cache: true,
                bProcessing: false, sAjaxSource: '/Doctors/Doctor/MDetails?id=' + $('#vpatid').val(), "order": [[0, "desc"]], bFilter: true, bInfo: false, lengthChange: false, scrollY: '250px', scrollCollapse: true, bPaginate: true,
                columns: [
             { "data": "ID", "visible": false },
             { "data": "PatientID", "visible": false },
             { "data": "ItemMedicID", "visible": false },
             { "data": "EnName", "width": "1%" },
             { "data": "Dose", "visible": false },
             { "data": "DoseName", "width": "1%" }
                ]
            });
            // Open modal form nav shift report total 
            $('#navshiftreport').click(function () {
                $('#mdshiftreport').modal({ backdrop: false });
                var table = $("#shiftreport").DataTable();
                table.$('tr.selected').removeClass('selected');
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Admin/ShiftReportTbl').load();

            });
            // table shift report 
            var table = $('#shiftreport').DataTable({
                cache: true,
                bProcessing: false, sAjaxSource: '/Doctors/Admin/ShiftReportTbl', "order": [[0, "desc"]], bFilter: true, bInfo: false, lengthChange: false, scrollY: '250px', scrollCollapse: true, bPaginate: true,
                columns: [
             { "data": "ShiftID", "width": "1%" },
             {
                 "data": "ShftDate", "width": "5%", "render": function (data) {
                     if (data == null) {
                         return "--"
                     }
                     else {
                         var date = new Date(parseInt(data.substr(6))).getDate();
                         var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
                         var datey = new Date(parseInt(data.substr(6))).getFullYear();
                         var hour = new Date(parseInt(data.substr(6))).getHours();
                         var minute = new Date(parseInt(data.substr(6))).getMinutes();
                         var secend = new Date(parseInt(data.substr(6))).getSeconds();
                         var fl = datey + "-" + datem + "-" + date + " " + hour + ":" + minute + ":" + secend;
                         return fl
                     }
                 }
             },
             { "data": "total", "width": "1%" }
                ]
            });

        // expand current patient 
            $('#btbillexpand').click(function () {
                $('#panledcpatient').toggle();
                var table = $('#dcpatient').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Doctor/PatTbl').load();
            });
        // btn expand rays panal
            $('#btRaysexpand').click(function () {
                $('#panelraylist').toggle();

            });
        // btn expand queue panal 
            $('#btQueueexpand').click(function () {
                $('#panelwaitlist').toggle();
            });
            // expand item medic list 
            $('#btitem').click(function () {
                $('#panelitemmedic').toggle();
                var table = $('#tbitemmedit').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Doctor/MDetails?id=' + $('#vpatid').val()).load();
            });
        // btn btn add new item
            $('#dcpatient tbody').on('click', '.btnaddnewitem', function () {
                var table = $("#dcpatient").DataTable();
                $(this).closest('tr').addClass('selected');
                var vid = table.cell('.selected', 0).data();
                var vname = table.cell('.selected', 1).data();
                var vserv = table.cell('.selected', 2).data();
                var cod = table.cell('.selected', 9).data();
                var vserid = table.cell('.selected', 10).data();
                $('#zpatname').val(vname);
                $('#zpatid').val(vid);
                $('#zserv').val(vserv);

                var table = $('#tbitemmeditadd').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Doctor/MDetails?id=' + $('#vpatid').val()).load();

                $('#mdadditem').modal({ backdrop: false });
            });
            $('#btitemrefresh').click(function () {
                var table = $('#tbitemmedit').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Doctor/MDetails?id=' + $('#vpatid').val() ).load();
                console.log($('#vpatid').val());
            });
        // expand wait list 
            $('#btwaitexpand').click(function () {
                $('#panelwaitlist').toggle();
                var table = $('#tbwait').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Doctor/WaitTbl').load();
            });
        // refresh wait list table
            $('#refreshwait').click(function () {
                var table = $('#tbwait').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Doctor/WaitTbl').load();
            });
        // refresh current patient 
            $('#refresh').click(function () {
                var table = $('#dcpatient').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Doctor/PatTbl').load();
            });
        // select table patlist
            $('#dcpatient tbody').on('click', 'tr', function () {
                var table = $("#dcpatient").DataTable();
                table.$('tr.selected').removeClass('selected');
                $(this).closest('tr').addClass('selected');
                var vid = table.cell('.selected', 0).data();
                var cod = table.cell('.selected', 9).data();
                $('#vpatid').val(cod);
                console.log(vid);
                picpath(vid);
            });
        // select table wait list
            $('#tbwait tbody').on('click', 'tr', function () {
                var table = $("#tbwait").DataTable();
                table.$('tr.selected').removeClass('selected');
                $(this).closest('tr').addClass('selected');
            });
            // select table shiftreport
            $('#shiftreport tbody').on('click', 'tr', function () {
                var table = $("#shiftreport").DataTable();
                table.$('tr.selected').removeClass('selected');
                $(this).closest('tr').addClass('selected');
            });
        // nextpatient
            $('#dcpatient tbody').on('click', '.nextpatient', function () {
                var table = $("#dcpatient").DataTable();
                table.$('tr.selected').removeClass('selected');
                $(this).closest('tr').addClass('selected');
                var idv  = table.cell('.selected', 0).data();
                var conf = confirm("هل تريد انهاء الزيارة  ");
                if (conf) {
                    $.ajax({
                        url: "@(Url.Action("NextPat", "Doctor"))",
                        type: "GET",
                    contentType: "application/json; charset=utf-8",
                    data: { ID: idv },
                    dataType: "json",
                    success: function (data) {
                        if (data.Success) {
                            alert(data.Message)
                            refresh()
                        } else {
                            alert(data.Message)
                        }
                    }
                });
            } else {
                alert('لقد تم الغاء العملية')
            }
            });
        // button send next patient to doctor's screen
        $('#tbwait tbody').on('click', '.quebutton ', function () {
            var table = $("#tbwait").DataTable();
            table.$('tr.selected').removeClass('selected');
            $(this).closest('tr').addClass('selected');
            var codes = table.cell('.selected', 0).data();
            var conf = confirm("هل تريد فعلاً ارسال المريض الي شاشة الطبيب");
            if (conf) {
                $.ajax({
                    url: "@(Url.Action("SendtoDoct", "Admin"))",
                    type: "GET",
                contentType: "application/json; charset=utf-8",
                data: { id: codes },
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        alert(data.Message)
                        refresh()
                    } else {
                        alert("حدث خطاء ")
                    }
                }
            });
        } else {
                alert('تم إلغاء العملية')
        }

        });
// auto complete for serv id
            $('#serv').autocomplete({
                autoFocus: true,
                messages: { noResults: '', results: function () { } },
                appendTo: $('#MdAdPat'),
                source: function (request, response) {
                    $.ajax({
                        url: "@(Url.Action("autoserv", "Doctor"))",
                        type: 'GET',
                    cache: false,
                    dataType: 'json',
                    data: { Prefix: request.term },
                    success: function (json) {
                        response($.map(json, function (data, ID, ServName, PaidAmount) {
                            return {
                                label: data.ID + " - " + data.ServName,
                                value: data.ID ,
                                amount: data.PaidAmount
                            }; uest
                        }));
                    },
                    });
            },
            focus: function (event, ui) {
                return false;
            },
            select: function (event, ui) {
                $('#servID').val(ui.item.value);
                $('#serv').val(ui.item.label);
                $('#PaidAmount').val(ui.item.amount);
                return false;
            },
            change: function (event, ui) {
                var source = $(this).val();
                var found = false;
                $('#serv').filter(function () {
                    if (ui.item != null) {
                        found = true;
                    }
                    else {
                        $(this).val('');
                        $(this).focus();
                        $('#PaidAmount').val('');
                    }
                    if ($(this).val() == null) {
                        $('#PaidAmount').val('');
                    }
                });
            }
            });
// auto complete for Item Name 
        $('#itemname').autocomplete({
            autoFocus: true,
            messages: { noResults: '', results: function () { } },
            appendTo: $('#tbitemmeditadd'),
            source: function (request, response) {
                $.ajax({
                    url: "@(Url.Action("autoitemname", "Doctor"))",
                    type: 'GET',
                cache: false,
                dataType: 'json',
                data: { Prefix: request.term },
                success: function (json) {
                    response($.map(json, function (data, ID, EnName) {
                        return {
                            label: data.ID + " - " + data.EnName,
                            value: data.ID 
                        }; uest
                    }));
                },
                });
        },
        focus: function (event, ui) {
            return false;
        },
        select: function (event, ui) {
            $('#itemid').val(ui.item.value);
            $('#itemname').val(ui.item.label);
            return false;
        },
        change: function (event, ui) {
            var source = $(this).val();
            var found = false;
            $('#itemname').filter(function () {
                if (ui.item != null) {
                    found = true;
                }
                else {
                    $(this).val('');
                    $(this).focus();
                    $('#itemid').val('');
                }
                if ($(this).val() == null) {
                    $('#itemid').val('');
                }
            });
        }
        });

        // open add modal
        $('#btnewpat').click(function () {
            $('#MdAdPat').modal({ backdrop: false }); 
            shiftcount();
            shiftdate();
            $('#visitdate').val(getdate);
        });
        $('#patedit').click(function () {
            var table = $("#dcpatient").DataTable();
           // table.$('tr.selected').removeClass('selected');
            $(this).closest('tr').addClass('selected');
            var vid = table.cell('.selected', 0).data();
            var vname = table.cell('.selected', 1).data();
            var vserv = table.cell('.selected', 2).data();
            var cod = table.cell('.selected', 9).data();
            var vserid = table.cell('.selected', 10).data();
            $('#PatID').val(vid);
            $('#vpatid').val(cod);
            $("#sPatient").val(vname);
            $('#serv').val(vserv);
            $('#servID').val(vserid);
            $('#MdAdPatAdvanced').modal({ backdrop: false });
        });
        // Open model form nav shift modal
        $('#navshift').click(function () {
            Gent();
            $('#mdshift').modal({ backdrop: false });
            $('#shiftdate').val(getdate);
        });
        // add new shift work modal shift
        $('#adshift').click(function () {
            var conf = confirm("سوف يتم انشاء شفت جديد و يتم اغلاق اخر شفت عمل نهائياً  ");
            if (conf) {
                $.ajax({
                    url: "@(Url.Action("adshift", "Doctor"))",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    data: {
                        shiftdate: $('#shiftdate').val(),
                        cbyn: $('#cbyn').val()
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.Success) {
                            alert(data.Message)
                            $("#mdshift").modal("hide");
                            var table = $("#patlist").DataTable();
                            table.$('tr.selected').removeClass('selected');
                            table.clear();
                            table.draw();
                            table.ajax.url('/Doctors/Doctor/PatTbl').load();

                        } else {
                            alert(data.Message)
                        }
                    }
                });
            } else {

            }

        });
        // btn expand btMHexpand
        $('#btMHexpand').click(function () {
            $('#panelMedicalHistory').toggle();
            var table = $('#tabMH').DataTable();
            table.clear();
            table.draw();
            table.ajax.url('/Doctors/Doctor/MDetails?id=' + $('#vpatid').val()).load();
        });
        // btn refresh refreshMH
        $('#refreshMH').click(function () {
            var table = $('#tabMH').DataTable();
            table.clear();
            table.draw();
            table.ajax.url('/Doctors/Doctor/MDetails?id=' + $('#vpatid').val()).load();
        });
        // button add new patient
        $('#adnpat').click(function () {
            if ($('#spatientname').val() == ' ') {
                $('#spatientname').focus();
                $('#spatientname').addClass('input-validation-error');
                alert('يجب تحديد اسم المريض');
            }
            else if ($('#serv').val() == '') {
                $('#serv').focus();
                $('#serv').addClass('input-validation-error');
                alert('يجب تحديد نوع الزيارة');
            } else {

                $.ajax({
                    url: "@(Url.Action("adpat", "Doctor"))",
                    type: "GET",
                contentType: "application/json; charset=utf-8",
                data: {
                    patname: $('#spatientname').val(),
                    servID: $('#servID').val(),
                    servname:$('#serv').val(),
                    mob: $('#mob').val(),
                    phone:$('#phone').val(),
                    adress: $('#adress').val(),
                    cby: $('#cby').val(),
                    paidamount: $('#PaidAmount').val(),
                    visitdate: $('#visitdate').val(),
                    gender: $('#gender').val(),

                    cbyn: $('#cbyn').val()
                },
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        $("#MdAdPat").modal("hide");
                        alert(data.Message)
                        var table = $("#patlist").DataTable();
                        table.$('tr.selected').removeClass('selected');
                        table.clear();
                        table.draw();
                        table.ajax.url('/Doctors/Doctor/PatTbl').load();

                    } else {
                        alert(data.Message)
                    }
                }
            });
        }
        });
       // table button action send to wait list 
        $('#patlist tbody').on('click', '.sendwait', function () {
            var table = $("#patlist").DataTable();
            table.$('tr.selected').removeClass('selected');
            $(this).closest('tr').addClass('selected');
            var idv = table.cell('.selected', 0).data();
            var shft = table.cell('.selected', 1).data();
            $.ajax({
                url: "@(Url.Action("sendtowaitlist", "Admin"))",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                data: { ID: idv, Shft: shft },
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        alert(data.Message)
                        refresh()
                    } else {
                        alert(data.Message)
                    }
                }
            });
        });
    </script>
}
