@{ViewBag.Title = " شاشة الطبيب";}
<script language="javascript" type="text/javascript">
    function shiftcount() {
        $.ajax({
            url: '/Doctors/Doctor/shiftcount', cache: false, type: "POST", success: function (data) {
                $('#shftid').val(parseFloat(data).toFixed(0))
            }
        }).then(function () {
            setTimeout(shiftcount, 900000);
        });;
    }
    function Gent() {
        $.ajax({
            url: '/Doctors/Doctor/Tcount', cache: false, type: "POST", success: function (data) {
                $('#shiftid').val(parseFloat(data).toFixed(0))
            }
        });
    }
    function shiftdate() {
        $.ajax({
            url: '/Doctors/Doctor/shiftdate', cache: false, type: "POST", success: function (data) {
                $('#shftdate').val(data)
            }
        });
    }
    function fixcount() {
        $.ajax({
            url: '/Erp/Pro/fixcount', cache: false, type: "POST", success: function (data) {
                $('#fxcount').text(parseFloat(data).toFixed(0))
            }
        });
    }
    function savcount() {
        $.ajax({
            url: '/Erp/Pro/savcount', cache: false, type: "POST", success: function (data) {
                $('#savcount').text(parseFloat(data).toFixed(0))
            }
        });
    }
</script>
<link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
<link href="~/Content/style.min.css" rel="stylesheet" />
<link href="~/Content/gritter/css/jquery.gritter.css" rel="stylesheet" />
<link href="~/Content/style-responsive.min.css" rel="stylesheet" />
<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/animate.css" rel="stylesheet" media="screen">
<input type="hidden" id="cby" value=@HttpContext.Current.User.Identity.Name.Split('|')[1] />
<input type="hidden" id="cbyn" value=@HttpContext.Current.User.Identity.Name.Split('|')[0] />
<div class="modal fade" id="mdcashrp">
    <div class="modal-prn">
        <div class="modal-contentp">
            <div class="modal-header text-center" style="background-color:#fff">
                <a href="javascript:;" id="bbcashrp" type="button" class="btn btn-sm btn-success no-print">طباعة</a>
                <a type="button" href="javascript:;" id="prn" class="btn btn-sm btn-danger no-print" data-dismiss="modal">إغلاق</a>
                <div class="form-group" style="margin:0px 5px 0px 5px">
                    <label>مستشفي حفصه العوضي التخصصي</label>
                    <br />
                    <label>الاستقبال</label>
                </div>
            </div>
            <div class="row">
                <div class="form-inline ls_form">
                    <div class="form-group" style="margin:0px 25px 0px 5px">
                        <label>اسم المريض</label>
                        <label id="patientname"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-inline ls_form">
                    <div class="form-group" style="margin:0px 25px 0px 5px">
                        <label>الخدمة</label>
                        <label id="vserv"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-inline ls_form">
                    <div class="form-group" style="margin:0px 25px 0px 5px">
                        <label>الطبيب</label>
                        <label id="vdoc"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-inline ls_form">
                    <div class="form-group" style="margin:0px 25px 0px 5px">
                        <label>المبلغ</label>
                        <label id="xval"></label>
                    </div>
                </div>
            </div>

            <div class="form-group" style="margin:0px 25px 0px 5px">
                <label>تاريخ:</label>
                <label id="ZDPRNT" style="margin-left:5px">@DateTime.Today.ToString("yyyy-MMM-dd")</label>
                <label style="margin:0px 2px">الوقت:</label>
                <label id="ZTPRNT">@DateTime.Now.ToString("hh:mm tt")</label>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="MdAdPat">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">تسجيل مريض جديد</label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>اسم المريض</label>
                            <input type="text" id="spatientname" class="form-control text-center" style="width:250px" autofocus="autofocus" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>نوع الزيارة</label>
                            <input type="text" id="serv" class="form-control text-center" style="width:150px" />
                            <input type="hidden" id="servID" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>تكلفة</label>
                            <input type="text" id="PaidAmount" class="form-control text-center" style="width:70px" disabled />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>تاريخ الزيارة</label>
                            <input type="datetime" id="visitdate" class="form-control text-center" style="width:160px" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>النوع</label>
                            <select id="gender" class="form-control" style="max-width:100px">
                                <option value=true>ذكر</option>
                                <option value=false>انثى</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>موبايل</label>
                            <input type="text" id="mob" class="form-control text-center" style="width:200px" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>تليفون</label>
                            <input type="text" id="phone" class="form-control text-center" style="width:200px" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>رقم الشفت</label>
                            <input type="text" id="shftid" class="form-control text-center" style="width:200px" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>التاريخ والوقت</label>
                            <input type="datetime" id="shftdate" class="form-control text-center" style="width:200px" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="adnpat" type="button" class="btn btn-sm btn-success">اضافة</a>
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MdAdPatClinic">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">عيادة </label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>اسم المريض</label>
                            <input type="text" id="vpatientname" class="form-control text-center" style="width:250px" readonly="readonly" />
                            <input type="hidden" id="patid" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>الخدمة</label>
                            <input type="text" id="serv" class="form-control text-center" style="width:250px" />
                            <input type="hidden" id="iserv" class="form-control text-center" style="width:250px" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 35px 0px 5px">
                            <label>الطبيب</label>
                            <input type="text" id="Doct" class="form-control text-center" style="width:260px" />
                            <input type="hidden" id="iDoct" />
                            <input type="hidden" id="ival" />
                            <input type="hidden" id="iallvall" />
                            <input type="hidden" id="iaddval" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>الدفع</label>
                            <select id="paytype" class="form-control" style="max-width:100px">
                                <option value=true>كاش</option>
                                <option value=true>تعاقد</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>المبلغ</label>
                            <input type="text" id="totval" class="form-control text-center" style="width:80px" readonly />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row" id="cstr" style="display:none">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>اسم الجهة</label>
                            <input type="text" id="vendorid" class="form-control text-center" style="width:200px" />
                            <input type="hidden" id="ivendorid" class="form-control text-center" style="width:200px" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="adserv" type="button" class="btn btn-sm btn-success">اضافة</a>
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdshift">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">شفت العمل اليومي </label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>رقم الشفت </label>
                            <input type="text" id="shiftid" class="form-control text-center" style="width:250px" readonly="readonly" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>تاريخ الشفت</label>
                            <input type="datetime" id="shiftdate" class="form-control text-center" style="width:250px" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="adshift" type="button" class="btn btn-sm btn-success">اضافة</a>
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MdAdPatEr">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">الطوارئ </label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>اسم المريض</label>
                            <input type="text" id="erpatientname" class="form-control text-center" style="width:200px" readonly="readonly" />
                            <input type="hidden" id="erpatid" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>الخدمة</label>
                            <input type="text" id="ername" class="form-control text-center" style="width:250px" />
                            <input type="hidden" id="erid" class="form-control text-center" style="width:250px" />
                            <input type="hidden" id="eracc" />
                            <input type="hidden" id="ernacc" />
                            <input type="hidden" id="ersect" />
                            <input type="hidden" id="ernsect" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>المبلغ</label>
                            <input type="number" id="erval" class="form-control text-center" style="width:70px" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>كشف دخول</label>
                            <input type="number" value=50 id="diagnos" class="form-control text-center" style="width:70px" readonly="readonly" />
                        </div>

                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>تاريخ الدخول</label>
                            <input type="date" value=@DateTime.Today.ToString("yyyy-MM-dd") id="startdate" class="form-control text-center" style="width:200px" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <label>الطبيب</label>
                        @*@Html.DropDownList("doctray", (SelectList)ViewBag.doctray, "  -----اختر من القائمة-----  ", new { @class = "js-example-basic-single form-control", @style = "width:100%", id = "erdoc" })*@
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>الدفع</label>
                            <select id="paytype" class="form-control" style="max-width:100px">
                                <option value=true>كاش</option>
                                <option value=true>تعاقد</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>اشراف طبي</label>
                            <input type="number" id="mstotval" class="form-control text-center" style="width:80px" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="ader" type="button" class="btn btn-sm btn-success">اضافة</a>
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MdAdPatRay">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">الاشعة </label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>اسم المريض</label>
                            <input type="text" id="raypatname" class="form-control text-center" style="width:250px" readonly="readonly" />
                            <input type="hidden" id="raypatid" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>الاشعة</label>
                            <input type="text" id="rayname" class="form-control text-center" style="width:250px" />
                            <input type="hidden" id="rayid" class="form-control text-center" style="width:250px" />
                            <input type="hidden" id="rayacc" />
                            <input type="hidden" id="raycode" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-inline" style="margin:0px 5px 0px 5px">
                            <label>الطبيب</label>
                            @*   @Html.DropDownList("doctray", (SelectList)ViewBag.doctray, "  -----اختر من القائمة-----  ", new { @class = "js-example-basic-single form-control", @style = "width:100px", id = "doctray" })*@
                            <label style="margin:0px 5px 0px 5px">مبلغ</label>
                            <input type="number" id="DoctRayVal" class="form-control text-center" style="width:100px" />
                        </div>
                        <br />
                        <div class="form-inline" style="margin:0px 5px 0px 5px">
                            <label>الفنى</label>
                            @*     @Html.DropDownList("tech", (SelectList)ViewBag.tech, "  -----اختر من القائمة-----  ", new { @class = "js-example-basic-single form-control", @style = "width:100px", id = "tech" })*@

                            <label style="margin:0px 5px 0px 5px">مبلغ</label>
                            <input type="number" id="TechRayVal" class="form-control text-center" style="width:100px" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>الدفع</label>
                            <select id="paytype" class="form-control" style="max-width:100px">
                                <option value=true>كاش</option>
                                <option value=true>تعاقد</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>المبلغ</label>
                            <input type="text" id="raytotval" class="form-control text-center" style="width:80px" readonly />
                            <input type="hidden" id="adval" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row" id="cstr" style="display:none">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>اسم الجهة</label>
                            <input type="text" id="vendorid" class="form-control text-center" style="width:200px" />
                            <input type="hidden" id="ivendorid" class="form-control text-center" style="width:200px" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="adActRay" type="button" class="btn btn-sm btn-success">اضافة</a>
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MdAdPatin">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">داخلي</label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>اسم المريض</label>
                            <input type="text" id="inpatientname" class="form-control text-center" style="width:200px" readonly="readonly" />
                            <input type="hidden" id="inpatid" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>الخدمة</label>
                            <input type="text" id="servin" class="form-control text-center" style="width:200px" />
                            <input type="hidden" id="iservin" class="form-control text-center" style="width:250px" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>الغرفة</label>
                            <input type="text" id="rom" class="form-control text-center" style="width:100px" />
                            <input type="hidden" id="irom" class="form-control text-center" style="width:50px" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>العملية</label>
                            <input type="text" id="operdesc" class="form-control text-center" style="width:400px" />
                            <input type="hidden" id="ioperdesc" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>تكلفة العملية</label>
                            <input type="text" id="iserval" class="form-control text-center" readonly="readonly" style="width:60px" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 35px 0px 5px">
                            <label>الطبيب</label>
                            <input type="text" id="Doctin" class="form-control text-center" style="width:260px" />
                            <input type="hidden" id="iDoctin" />
                            <input type="hidden" id="ivalin" />
                            <input type="hidden" id="iallvallin" />
                            <input type="hidden" id="iaddvalin" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>الدفع</label>
                            <select id="paytype" class="form-control" style="max-width:100px">
                                <option value=true>كاش</option>
                                <option value=true>تعاقد</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>المبلغ</label>
                            <input type="text" id="totvalin" class="form-control text-center" style="width:80px" readonly />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row" id="cstr" style="display:none">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>اسم الجهة</label>
                            <input type="text" id="vendorid" class="form-control text-center" style="width:200px" />
                            <input type="hidden" id="ivendorid" class="form-control text-center" style="width:200px" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="adservin" type="button" class="btn btn-sm btn-success">اضافة</a>
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MdAdPatCare">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">العناية المركزة</label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>اسم المريض</label>
                            <input type="text" id="carepatientname" class="form-control text-center" style="width:200px" readonly="readonly" />
                            <input type="hidden" id="carepatid" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>الخدمة</label>
                            <input type="text" id="carename" class="form-control text-center" style="width:250px" />
                            <input type="hidden" id="careid" class="form-control text-center" style="width:250px" />
                            <input type="hidden" id="careacc" />
                            <input type="hidden" id="carenacc" />
                            <input type="hidden" id="caresect" />
                            <input type="hidden" id="carensect" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>المبلغ</label>
                            <input type="number" id="careval" class="form-control text-center" style="width:70px" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>كشف دخول</label>
                            <input type="number" value=50 id="diagnos" class="form-control text-center" style="width:70px" readonly="readonly" />
                        </div>

                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>تاريخ الدخول</label>
                            <input type="date" value=@DateTime.Today.ToString("yyyy-MM-dd") id="startdate" class="form-control text-center" style="width:200px" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <label>الطبيب</label>
                        @*@Html.DropDownList("doctray", (SelectList)ViewBag.doctray, "  -----اختر من القائمة-----  ", new { @class = "js-example-basic-single form-control", @style = "width:100%", id = "erdoc" })*@
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>الدفع</label>
                            <select id="paytype" class="form-control" style="max-width:100px">
                                <option value=true>كاش</option>
                                <option value=true>تعاقد</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>اشراف طبي</label>
                            <input type="number" id="caretotval" class="form-control text-center" style="width:80px" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="adcare" type="button" class="btn btn-sm btn-success">اضافة</a>
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<!-- begin col-4 -->
<br />
<div class="row">
    <div class="col-md-6">
       <div id="a-panal" class="panel panel-danger" style="margin-bottom:1px" data-sortable-id="index-1">
                <div class="panel-heading" style="height: 40px;">
                    <label class="panel-title" style="font-size:12px;" > بيانات المريض الحالي </label>
                </div>
                <div class="panel-body" id="panledcpatient" style="max-height:200px; min-height:10px; padding:1px">
                    <table id="dcpatient" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th> الاسم</th>
                                <th >نوع الزيارة </th>
                                <th>وقت التسجيل</th>
                                <th>انهاء الزيارة</th>
                                <th>روشتة</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>
<hr />
<div id="content" class="content">
    <div class="row">
        <div class="col-md-6">
            <div id="b-panal" class="panel panel-warning" style="margin-bottom:5px" data-sortable-id="index-3">
                <div class="panel-heading" style="height: 50px;">
                    <label class="panel-title" style="font-size:13px;">  قائمة الانتظار </label>
                    <div class="btn-group m-r-5 pull-left">
                        <button class="btn-group-sm btn-icon btn-square btn-info pull-left" title="تبديل " id="btwaitexpand"><i class="fa fa-expand"></i></button>
                        <button class="btn-group-sm btn-icon btn-square btn-success pull-left" title="تحديث " id="refresh"><i class="fa fa-repeat"></i></button>
                        <button class="btn-group-sm btn-icon btn-square btn-warning pull-left" title="رد المبلغ للمريض " id="refund"><i class="fa fa-eraser"></i> </button>
                    </div>
                </div>
                <div class="panel-body" id="panelwaitlist" style="max-height:400px;   min-height:200px; padding:10px">
                    <table id="tbwait" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>رقم الملف</th>
                                <th class="text-center"> المريض</th>
                                <th>خدمة</th>
                                <th>وقت الحضور</th>
                                <th>ترتيب</th>
                                <th>باقي</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end col-4 -->
    </div>
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">


        </div>
        <!-- end col-4 -->
    </div>
</div>
<link href="~/Content/select2.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/apps.min.js"></script>
    <script src="~/Scripts/dts.js"></script>
    <script src="~/Scripts/select2.full.min.js"></script>
    <script>
            $(document).ready(function () {
                App.init();
                // date function

            });
            function getdate() {
                var date = new Date(),
                  year = date.getFullYear(),
                  month = (date.getMonth() + 1).toString(),
                  formatedMonth = (month.length === 1) ? ("0" + month) : month,
                  day = date.getDate().toString(),
                  formatedDay = (day.length === 1) ? ("0" + day) : day,
                  hour = date.getHours().toString(),
                  formatedHour = (hour.length === 1) ? ("0" + hour) : hour,
                  minute = date.getMinutes().toString(),
                  formatedMinute = (minute.length === 1) ? ("0" + minute) : minute,
                  second = date.getSeconds().toString(),
                  formatedSecond = (second.length === 1) ? ("0" + second) : second;
                return formatedDay + "-" + formatedMonth + "-" + year + " " + formatedHour + ':' + formatedMinute + ':' + formatedSecond;
            };
        // select2 function
            $(".js-example-basic-single").select2({
                dir: "rtl", language: "ar", selectOnClose: true, width: '30%'
            });
            
            var table = $('#dcpatient').DataTable({
                cache: true,
                bProcessing: false, sAjaxSource: '/Doctors/Doctor/PatTbl', "order": [[0, "desc"]], bFilter: false, bInfo: false, lengthChange: false, scrollY: false, scrollCollapse: false, bPaginate: false,
                columns: [
             { "data": "ID", "visible": false },
             { "data": "PatientName", "width": "2%" },
             { "data": "ServName", "width": "2%" },
             {"data": "CreateDate", "width": "2%", "render": function (data) {
               if (data == null) { return "--" } else {
                         var date = new Date(parseInt(data.substr(6))).getDate();
                         var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
                         var datey = new Date(parseInt(data.substr(6))).getFullYear();
                         var hour = new Date(parseInt(data.substr(6))).getHours();
                         var minute = new Date(parseInt(data.substr(6))).getMinutes();
                         var secend = new Date(parseInt(data.substr(6))).getSeconds();
                         var fl = datey + "-" + datem + "-" + date + " " + hour + ":" + minute + ":" + secend ;
              return fl}}},
             {
             "data": null, "sClass": "dt-center", "width": "1%", "orderable": false,
             "defaultContent": "<button  class='xbutton small btn-success'id='post'><i class='fa fa-step-backward'></button>"
             },
              {
              "data": null, "sClass": "dt-center", "width": "1%", "orderable": false,
              "defaultContent": "<button  class='xbutton small btn-danger'id='post'><i class='fa fa-flask'></button>"
              }
                ]
            });
            var table = $('#tbwait').DataTable({
                cache: true,
                bProcessing: false, sAjaxSource: '/Doctors/Doctor/WaitTbl', "order": [[0, "desc"]], bFilter: true, bInfo: false, lengthChange: false, scrollY: '250px', scrollCollapse: true, bPaginate: true,
                columns: [
             { "data": "ID", "visible": false },
             { "data": "PatientName", "width": "2%" },
             { "data": "ServName", "width": "1%" },
             {
                 "data": "CreateDate", "width": "5%", "render": function (data) {
                     if (data == null) {
                         return "--"
                     }
                     else {

                         var date = new Date(parseInt(data.substr(6))).getDate();
                         var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
                         var datey = new Date(parseInt(data.substr(6))).getFullYear();
                         var hour = new Date(parseInt(data.substr(6))).getHours();
                         var minute = new Date(parseInt(data.substr(6))).getMinutes();
                         var secend = new Date(parseInt(data.substr(6))).getSeconds();
                         var fl = datey + "-" + datem + "-" + date + " " + hour + ":" + minute + ":" + secend;
                         return fl
                     }
                 }
             },
             { "data": "Sorted", "width": "1%" },
             { "data": "RemainingAmount", "width": "1%" }
                ]
            });
            $('#patogele').click(function () {
                $('#patlistvx').toggle();
                var table = $('#patlist').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Doctor/PatTbl').load();
            });

            $('#btwaitexpand').click(function () {
                $('#panelwaitlist').toggle();
                var table = $('#tbwait').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Doctor/WaitTbl').load();
            });
        // refresh table
            $('#refreshz').click(function () {
                var table = $('#patlist').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Doctor/PatTbl').load();
            });
            $('#refresh').click(function () {
                var table = $('#tbwait').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Doctor/WaitTbl').load();
            });
        // select table patlist
            $('#patlist tbody').on('click', 'tr', function () {
                var table = $("#patlist").DataTable();
                table.$('tr.selected').removeClass('selected');
                $(this).closest('tr').addClass('selected');
                var m = table.cell('.selected', 1).data();
                console.log(m);

            });
        // select table wait list
            $('#tbwait tbody').on('click', 'tr', function () {
                var table = $("#tbwait").DataTable();
                table.$('tr.selected').removeClass('selected');
                $(this).closest('tr').addClass('selected');
                var h = table.cell('.selected', 1).data();
                console.log(h);

            });
        // auto complete for serv id
            $('#serv').autocomplete({
                autoFocus: true,
                messages: { noResults: '', results: function () { } },
                appendTo: $('#MdAdPat'),
                source: function (request, response) {
                    $.ajax({
                        url: "@(Url.Action("autoserv", "Doctor"))",
                        type: 'GET',
                    cache: false,
                    dataType: 'json',
                    data: { Prefix: request.term },
                    success: function (json) {
                        response($.map(json, function (data, ID, ServName, PaidAmount) {
                            return {
                                label: data.ID + " - " + data.ServName,
                                value: data.ID ,
                                amount: data.PaidAmount
                            }; uest
                        }));
                    },
                    });
            },
            focus: function (event, ui) {
                return false;
            },
            select: function (event, ui) {
                $('#servID').val(ui.item.value);
                $('#serv').val(ui.item.label);
                $('#PaidAmount').val(ui.item.amount);
                return false;
            },
            change: function (event, ui) {
                var source = $(this).val();
                var found = false;
                $('#serv').filter(function () {
                    if (ui.item != null) {
                        found = true;
                    }
                    else {
                        $(this).val('');
                        $(this).focus();
                        $('#PaidAmount').val('');
                    }
                    if ($(this).val() == null) {
                        $('#PaidAmount').val('');
                    }
                });
            }
            });
        // open add modal
        $('#btnewpat').click(function () {
            $('#MdAdPat').modal({ backdrop: false });
            shiftcount();
            shiftdate();
            $('#visitdate').val(getdate);
        });
        // Open model form nav shift modal
        $('#navshift').click(function () {
            Gent();
            $('#mdshift').modal({ backdrop: false });
            $('#shiftdate').val(getdate);
        });
        // add new shift work modal shift
        $('#adshift').click(function () {
            var conf = confirm("سوف يتم انشاء شفت جديد و يتم اغلاق اخر شفت عمل نهائياً  ");
            if (conf) {
                $.ajax({
                    url: "@(Url.Action("adshift", "Doctor"))",
                    type: "GET",
                contentType: "application/json; charset=utf-8",
                data: {
                    shiftdate: $('#shiftdate').val(),
                    cbyn: $('#cbyn').val()
                },
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        alert(data.Message)
                        $("#mdshift").modal("hide");
                        var table = $("#patlist").DataTable();
                        table.$('tr.selected').removeClass('selected');
                        table.clear();
                        table.draw();
                        table.ajax.url('/Doctors/Doctor/PatTbl').load();

                    } else {
                        alert(data.Message)
                    }
                }
            });
            } else {

            }

        })
        // button add new patient
        $('#adnpat').click(function () {
            if ($('#spatientname').val() == ' ') {
                $('#spatientname').focus();
                $('#spatientname').addClass('input-validation-error');
                alert('يجب تحديد اسم المريض');
            }
            else if ($('#serv').val() == '') {
                $('#serv').focus();
                $('#serv').addClass('input-validation-error');
                alert('يجب تحديد نوع الزيارة');
            } else {

                $.ajax({
                    url: "@(Url.Action("adpat", "Doctor"))",
                    type: "GET",
                contentType: "application/json; charset=utf-8",
                data: {
                    patname: $('#spatientname').val(),
                    servID: $('#servID').val(),
                    servname:$('#serv').val(),
                    mob: $('#mob').val(),
                    phone:$('#phone').val(),
                    adress: $('#adress').val(),
                    cby: $('#cby').val(),
                    paidamount: $('#PaidAmount').val(),
                    visitdate: $('#visitdate').val(),
                    gender: $('#gender').val(),
                    cbyn: $('#cbyn').val()
                },
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        $("#MdAdPat").modal("hide");
                        alert(data.Message)
                        var table = $("#patlist").DataTable();
                        table.$('tr.selected').removeClass('selected');
                        table.clear();
                        table.draw();
                        table.ajax.url('/Doctors/Doctor/PatTbl').load();

                    } else {
                        alert(data.Message)
                    }
                }
            });
        }
        });
    </script>
}
