<!DOCTYPE html>
<html lang="ar-eg">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Assets/favicon.ico">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top glyphicon-text-height"  >
        <div class="container">
            <ul class="nav navbar-nav" >
                <li class="active" style="background-color:#283e4a !important" id="Indexx"><a href="/Doctors/Admin/Index"> الشاشة الرئيسية</a></li>
                <li class="active" style="background-color:#283e4a !important"  id="navshift"><a href="javascript:;">الشفت اليومي</a></li>
                <li class="active" style="background-color:#283e4a !important"  id="navshiftreport"><a  href="javascript:;">تقرير الشفت </a></li>
                <li class="active" style="background-color:#283e4a !important"  id="navRefundRp"><a href="javascript:;"> تقرير الغاء الحجز</a></li>
                <li class="active" style="background-color:#283e4a !important"  id="navPatientList"><a href="javascript:;"> سجلات المرضي</a></li>
                <li class="active" style="background-color:#283e4a !important" id="Screenx"><a href="/Doctors/Admin/ScreenS"> شاشة الانتظار</a></li>
                <li class="active" style="background-color:#283e4a !important" id="navserlist"><a href="/Doctors/Admin/ItemsSetting">الخدمات </a></li>
            </ul>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right flip">
                    <li>
                        <a class="label-danger" href="/Doctors/Home/LogOut">
                            <i class="glyphicon glyphicon-log-out"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @RenderSection("scripts", required: false)
</body>
</html>