@{ViewBag.Title = " الاستقبال";}
<script language="javascript" type="text/javascript">
    function shiftcount() {
        $.ajax({
            url: '/Doctors/Admin/shiftcount', cache: false, type: "POST", success: function (data) {
                $('#shftid').val(parseFloat(data).toFixed(0))
            }
        }).then(function () {
            setTimeout(shiftcount(), 900000);
        });;
    }
    function Gent() {
        $.ajax({
            url: '/Doctors/Admin/Tcount', cache: false, type: "POST", success: function (data) {
                $('#shiftid').val(parseFloat(data).toFixed(0))
            }
        });
    }
    function shiftdate() {
        $.ajax({
            url: '/Doctors/Admin/shiftdate', cache: false, type: "POST", success: function (data) {
                $('#shftdate').val(getdateconv(data))
            }
        });
    }
    function fixcount() {
        $.ajax({
            url: '/Erp/Pro/fixcount', cache: false, type: "POST", success: function (data) {
                $('#fxcount').text(parseFloat(data).toFixed(0))
            }
        });
    }
    function savcount() {
        $.ajax({
            url: '/Erp/Pro/savcount', cache: false, type: "POST", success: function (data) {
                $('#savcount').text(parseFloat(data).toFixed(0))
            }
        });
    }
</script>
<link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
<link href="~/Content/style.min.css" rel="stylesheet" />
<link href="~/Content/style-responsive.min.css" rel="stylesheet" />
<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/google-grid.css" rel="stylesheet" />
<link href="~/Content/animate.css" rel="stylesheet" media="screen">
<input type="hidden" id="cby"  value=@HttpContext.Current.User.Identity.Name.Split('|')[1] />
<input type="hidden" id="cbyn" value=@HttpContext.Current.User.Identity.Name.Split('|')[0] />
<div class="modal fade" id="mdcashrp">
    <div class="modal-prn">
        <div class="modal-contentp">
            <div class="modal-header text-center" style="background-color:#fff">
                <a href="javascript:;" id="bbcashrp" type="button" class="btn btn-sm btn-success no-print">طباعة</a>
                <a type="button" href="javascript:;" id="prn" class="btn btn-sm btn-danger no-print" data-dismiss="modal">إغلاق</a>
                <div class="form-group" style="margin:0px 5px 0px 5px">
                    <label>الدكتور / سيد عبد الوهاب</label>
                    <br />
                    <label>ايصال استلام نقدية</label>
                </div>
            </div>
            <div class="row">
                <div class="form-inline ls_form">
                    <div class="form-group" style="margin:0px 25px 0px 5px">
                        <label>اسم المريض</label>
                        <label id="patientname"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-inline ls_form">
                    <div class="form-group" style="margin:0px 25px 0px 5px">
                        <label>الخدمة</label>
                        <label id="vserv"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-inline ls_form">
                    <div class="form-group" style="margin:0px 25px 0px 5px">
                        <label>المبلغ</label>
                        <label id="xval"></label>
                    </div>
                </div>
            </div>

            <div class="form-group" style="margin:0px 25px 0px 5px">
                <label>تاريخ:</label>
                <label id="ZDPRNT" style="margin-left:5px">@DateTime.Today.ToString("yyyy-MMM-dd")</label>
                <label style="margin:0px 2px">الوقت:</label>
                <label id="ZTPRNT">@DateTime.Now.ToString("hh:mm tt")</label>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="MdAdPat">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">تسجيل مريض جديد</label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>اسم المريض</label>
                            <input type="hidden" id="cod"/> 
                            <input type="text" id="spatientname" class="form-control text-center" style="width:250px" autofocus="autofocus" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>نوع الزيارة</label>
                            <input type="text" id="serv" class="form-control text-center" style="width:150px" />
                            <input type="hidden" id="servID"  />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>تكلفة</label>
                            <input type="text" id="PaidAmount" class="form-control text-center" style="width:70px" disabled />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>تاريخ الزيارة</label>
                            <input type="datetime" id="visitdate" class="form-control text-center" style="width:160px" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>النوع</label>
                            <select id="gender" class="form-control" style="max-width:100px">
                                <option value=true>ذكر</option>
                                <option value=false>انثى</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>موبايل</label>
                            <input type="text" id="mob" class="form-control text-center" style="width:200px" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>تليفون</label>
                            <input type="text" id="phone" class="form-control text-center" style="width:200px" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>رقم الشفت</label>
                            <input type="text" id="shftid" class="form-control text-center" readonly="readonly" style="width:80px" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>التاريخ والوقت</label>
                            <input type="datetime" id="shftdate" class="form-control text-center" readonly="readonly" style="width:200px" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="adnpat" type="button" class="btn btn-sm btn-success">اضافة</a>
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MdAdPata">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">تسجيل مريض جديد</label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>اسم المريض</label>
                            <input type="hidden" id="cod" />
                            <input type="text" id="spatientname" class="form-control text-center" style="width:250px" autofocus="autofocus" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>نوع الزيارة</label>
                            <input type="text" id="serv" class="form-control text-center" style="width:150px" />
                            <input type="hidden" id="servID" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>تكلفة</label>
                            <input type="text" id="PaidAmount" class="form-control text-center" style="width:70px" disabled />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>تاريخ الزيارة</label>
                            <input type="datetime" id="visitdate" class="form-control text-center" style="width:160px" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>النوع</label>
                            <select id="gender" class="form-control" style="max-width:100px">
                                <option value=true>ذكر</option>
                                <option value=false>انثى</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>موبايل</label>
                            <input type="text" id="mob" class="form-control text-center" style="width:200px" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>تليفون</label>
                            <input type="text" id="phone" class="form-control text-center" style="width:200px" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>رقم الشفت</label>
                            <input type="text" id="shftid" class="form-control text-center" readonly="readonly" style="width:80px" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>التاريخ والوقت</label>
                            <input type="datetime" id="shftdate" class="form-control text-center" readonly="readonly" style="width:200px" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="adnpata" type="button" class="btn btn-sm btn-success">اضافة</a>
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdPatientList">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">سجلات المرضي  </label>
            </div>
            <div class="modal-body">
                <table id="TabPatient" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center">رقم الملف</th>
                            <th class="text-center">رقم الشفت</th>
                            <th class="text-center"> اسم المريض</th>
                            <th class="text-center">الخدمة</th>
                            <th class="text-center">تاريخ </th>
                            <th class="text-center"> أضافة </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                @*  <a href="javascript:;" id="adshift" type="button" class="btn btn-sm btn-success">اضافة</a>*@
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdshift">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">شفت العمل اليومي </label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>رقم الشفت </label>
                            <input type="text" id="shiftid" class="form-control text-center"  style="width:250px" readonly="readonly" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>تاريخ الشفت</label>
                            <input type="datetime" id="shiftdate"  class="form-control text-center" style="width:250px" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="adshift" type="button" class="btn btn-sm btn-success">اضافة</a>
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdshiftreport">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">تقرير الشفت اليومي </label>
            </div>
            <div class="modal-body">
                <table id="shiftreport" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>رقم الشفت</th>
                            <th>تاريخ </th>
                            <th class="text-center"> اجمالي</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
              @*  <a href="javascript:;" id="adshift" type="button" class="btn btn-sm btn-success">اضافة</a>*@
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdRefundeport">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">تقرير الغاء الحجز </label>
            </div>
            <div class="modal-body">
                <table id="Refundreport" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>رقم المريض</th>
                            <th>اسم المريض </th>
                            <th class="text-center"> تاريخ الحجز</th>
                            <th>الخدمة</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                @*  <a href="javascript:;" id="adshift" type="button" class="btn btn-sm btn-success">اضافة</a>*@
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Mdrays">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">الاشاعة </label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <input type="hidden" id="zvid" />
                            <label>اسم المريض</label>
                            <input type="text" id="vname" class="form-control text-center" style="width:350px" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>تقرير الاشعة </label>
                            <input type="text" lang="ar-eg" placeholder="شرح توضيحي للإشاعة" id="Subject" class="form-control text-center" style="width:600px" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="form-group" style="margin:0px 5px 0px 5px">
                        <div class="fileUpload btn btn-primary">
                            <span>اختار صورة</span>
                            <input type="file" id="FileUpload1" class="upload" />
                        </div>
                        <div class="fileUpload btn btn-primary">
                            <span>تحميل </span>
                            <input type="button" id="btnUpload" class="upload" value="Upload Files" />
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="grid-gallery" class="grid-gallery">
                            <section class="grid-wrap">
                                <ul class="grid">
                                    <li class="grid-sizer"></li><!-- for Masonry column width -->
                                    <li>
                                        <figure>
                                            <img id="targetImg" src=" " alt="صورة الاشاعة  " />
                                            <figcaption>
                                                <label id="namefiles"></label>
                                            </figcaption>
                                        </figure>
                                    </li>
                                </ul>
                            </section><!-- // grid-wrap -->

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="btneditpro" type="button" class="btn btn-sm btn-success">اضافة</a>
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>

<!-- begin col-4 -->
<br />
<div id="content" class="content">
    <div class="row">
        <div class="col-md-6">
            <div id="a-panal" class="panel panel-primary" style="margin-bottom:5px" data-sortable-id="index-1">
                <div class="panel-heading" style="height: 50px;">
                    <label class="panel-title" style="font-size:13px;"> تسجيل مريض </label>
                    <div class="btn-group m-r-5 pull-left">
                        <button class="btn-group-sm btn-icon btn-square btn-info pull-left" title="تبديل " id="patogele"><i class="fa fa-expand"></i></button>
                        <button class="btn-group-sm btn-icon btn-square btn-success pull-left" title="تحديث " id="refreshz"><i class="fa fa-repeat"></i></button>
                        <button class="btn-group-sm btn-icon btn-square btn-danger pull-left" title="تسجيل بيانات مريض " id="btnewpat"><i class="fa fa-plus"></i></button>
                    </div>
                    
                </div>
                <div class="panel-body" id="patlistvx" style="max-height:600px; min-height:200px; padding:5px">
                    <table id="patlist" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>رقم الملف</th>
                                <th>رقم الشفت</th>
                                <th class="text-center"> المريض</th>
                                <th>خدمة</th>
                                <th>مبلغ</th>
                                <th class="text-center">انتظار</th>
                                <th>ايصال</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div id="b-panal" class="panel panel-info" style="margin-bottom:5px" data-sortable-id="index-3">
                <div class="panel-heading" style="height: 50px;">
                    <label class="panel-title" style="font-size:13px;">  قائمة الانتظار </label>
                    <div class="btn-group m-r-5 pull-left">
                        <button class="btn-group-sm btn-icon btn-square btn-info pull-left" title="تبديل " id="btwaitexpand"><i class="fa fa-expand"></i></button>
                        <button class="btn-group-sm btn-icon btn-square btn-success pull-left" title="تحديث " id="refresh"><i class="fa fa-repeat"></i></button>
                        @*<button class="btn-group-sm btn-icon btn-square btn-danger pull-left" title="المريض التالي  " id="SendToDoctor"><i class="fa fa-backward"></i></button>*@
                        <button class="btn-group-sm btn-icon btn-square btn-danger pull-left" title="رد المبلغ للمريض " id="refund"><i class="fa fa-eraser"></i> </button>
                    </div>
                </div>
                <div class="panel-body" id="panelwaitlist" style="max-height:400px;   min-height:200px; padding:10px">
                    <table id="tbwait" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>رقم الملف</th>
                                <th class="text-center">رقم الشفت</th>
                                <th class="text-center"> المريض</th>
                                <th class="text-center">خدمة</th>
                                <th class="text-center">وقت الحضور</th>
                                <th class="text-center">ترتيب</th>
                                <th class="text-center">دخول</th>
                                <th class="text-center">رد</th>
                                <th class="text-center">أشعة</th>
                                <th>كود</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>            
        <!-- end col-4 -->
    </div>
    </div>
</div>
<link href="~/Content/select2.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/apps.min.js"></script>
    <script src="~/Scripts/dts.js"></script>
    <script src="~/Scripts/select2.full.min.js"></script>
    <script>
            $(document).ready(function () {
                App.init();
                // date function
            });
            $('#btnUpload').click(function () {
                // Checking whether FormData is available in browser
                if (window.FormData !== undefined) {

                    var fileUpload = $("#FileUpload1").get(0);
                    var files = fileUpload.files;

                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }
                    // Adding one more key to FormData object
                    fileData.append('cby', $('#cby').val());
                    fileData.append('vid', $('#zvid').val());
                    $.ajax({
                        url: '/Doctors/Admin/UploadFiles',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (data) {
                            //   $('#targetImg').append("<img src='/Erp/Img/" + data.resulte + "'><br>");
                            $('#targetImg').attr('src', '/Doctors/Rays/Img/' + data.resulte)
                            $('#namefiles').text(data.resulte)
                            // $('#FileUpload1').empty()
                            alert(data.Message);

                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
            });
            function getdate() {
                var date = new Date(),
                  year = date.getFullYear(),
                  month = (date.getMonth() + 1).toString(),
                  formatedMonth = (month.length === 1) ? ("0" + month) : month,
                  day = date.getDate().toString(),
                  formatedDay = (day.length === 1) ? ("0" + day) : day,
                  hour = date.getHours().toString(),
                  formatedHour = (hour.length === 1) ? ("0" + hour) : hour,
                  minute = date.getMinutes().toString(),
                  formatedMinute = (minute.length === 1) ? ("0" + minute) : minute,
                  second = date.getSeconds().toString(),
                  formatedSecond = (second.length === 1) ? ("0" + second) : second;
                return formatedDay + "-" + formatedMonth + "-" + year + " " + formatedHour + ':' + formatedMinute + ':' + formatedSecond;
            };
            function refresh() {
                var table = $('#tbwait').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Admin/WaitTbl').load();

                var table = $('#patlist').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Admin/PatTbl').load();
            }
            function getdateconv(date) {
                  date = new Date(),
                  year = date.getFullYear(),
                  month = (date.getMonth() + 1).toString(),
                  formatedMonth = (month.length === 1) ? ("0" + month) : month,
                  day = date.getDate().toString(),
                  formatedDay = (day.length === 1) ? ("0" + day) : day,
                  hour = date.getHours().toString(),
                  formatedHour = (hour.length === 1) ? ("0" + hour) : hour,
                  minute = date.getMinutes().toString(),
                  formatedMinute = (minute.length === 1) ? ("0" + minute) : minute,
                  second = date.getSeconds().toString(),
                  formatedSecond = (second.length === 1) ? ("0" + second) : second;
                return formatedDay + "-" + formatedMonth + "-" + year + " " + formatedHour + ':' + formatedMinute + ':' + formatedSecond;
            };
        // select2 function
            $(".js-example-basic-single").select2({
                dir: "rtl", language: "ar", selectOnClose: true, width: '30%'
            });
        // var table patient list reception
            var table = $('#patlist').DataTable({
                cache: true,
                bProcessing: false, sAjaxSource: '/Doctors/Admin/PatTbl', "order": [[0, "desc"]], bFilter: true, bInfo: false, lengthChange: false, scrollY: '300px', scrollCollapse: true, bPaginate: true,
                columns: [
             { "data": "ID", "visible": false },
             { "data": "ShiftID", "visible": false },
             { "data": "PatientName", "width": "2%" },
             { "data": "ServName", "width": "1%" },
             { "data": "PaidAmount", "width": "1%" },
             {
               "data": null, "sClass": "dt-center", "width": "1%", "orderable": false,
               "defaultContent": "<button  class='sendwait small btn-danger'id='post'><i class='fa fa-step-backward'></button>"
             },
             {
              "data": null, "sClass": "dt-center", "width": "1%", "orderable": false,
              "defaultContent": "<button  class='cashx small btn-warning'id='post'><i class='fa fa-print'></button>"
              }
            ]
            });
        // var table patient queue list reception
            var table = $('#tbwait').DataTable({
                cache: true,
                bProcessing: false, sAjaxSource: '/Doctors/Admin/WaitTbl', "order": [[5, "asc"]], bFilter: true, bInfo: false, lengthChange: false, scrollY: '250px', scrollCollapse: true, bPaginate: true,
                columns: [
             { "data": "ID", "visible": false },
             { "data": "ShiftID", "visible": false },
             { "data": "PatientName", "width": "2%" },
             { "data": "ServName", "width": "2%" },
             {"data": "CreateDate", "width": "3%", "render": function (data) {
                     if (data == null) {
                         return "--"
                     }
                     else {
                         var date = new Date(parseInt(data.substr(6))).getDate();
                         var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
                         var datey = new Date(parseInt(data.substr(6))).getFullYear();
                         var hour = new Date(parseInt(data.substr(6))).getHours();
                         var minute = new Date(parseInt(data.substr(6))).getMinutes();
                         var secend = new Date(parseInt(data.substr(6))).getSeconds();
                         var fl = datey + "-" + datem + "-" + date + " " + hour + ":" + minute + ":" + secend ;
                         return fl
                     }
                 }
             },
             { "data": "Sorted", "width": "1%" },
             {
                 "data": null, "sClass": "dt-center", "width": "1%", "orderable": false,
                 "defaultContent": "<button  class='quebutton small btn-success'id='zpost'><i class='fa fa-stethoscope'></button>"
             },
             {
                 "data": null, "sClass": "dt-center", "width": "1%", "orderable": false,
                 "defaultContent": "<button  class='rebutton small btn-warning'id='spost'><i class='fa fa-eraser'></button>"
             },
             {
                 "data": null, "sClass": "dt-center", "width": "1%", "orderable": false,
                 "defaultContent": "<button  class='openray small btn-danger'id='apost'><i class='fa fa-hospital-o'></button>"
             },
             { "data": "Code", "visible": false }
                ]
            });
        // var table refund report
            var table = $('#Refundreport').DataTable({
                cache: true,
                bProcessing: false, sAjaxSource: '/Doctors/Admin/RefundRp', "order": [[0, "desc"]], bFilter: true, bInfo: false, lengthChange: false, scrollY: '250px', scrollCollapse: true, bPaginate: true,
                columns: [
             { "data": "ID", "width": "1%" },
             { "data": "PatientName", "width": "1%" },
             { "data": "ServName", "width": "1%" },
             {
                 "data": "CreateDate", "width": "5%", "render": function (data) {
                     if (data == null) {
                         return "--"
                     }
                     else {
                         var date = new Date(parseInt(data.substr(6))).getDate();
                         var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
                         var datey = new Date(parseInt(data.substr(6))).getFullYear();
                         var hour = new Date(parseInt(data.substr(6))).getHours();
                         var minute = new Date(parseInt(data.substr(6))).getMinutes();
                         var secend = new Date(parseInt(data.substr(6))).getSeconds();
                         var fl = datey + "-" + datem + "-" + date + " " + hour + ":" + minute + ":" + secend;
                         return fl
                     }
                 }
             }
                ]
            });
        // var table shift report daily
            var table = $('#shiftreport').DataTable({
                cache: true,
                bProcessing: false, sAjaxSource: '/Doctors/Admin/ShiftReportTbl', "order": [[0, "desc"]], bFilter: true, bInfo: false, lengthChange: false, scrollY: '250px', scrollCollapse: true, bPaginate: true,
                columns: [
             { "data": "ShiftID", "width": "1%" },
             { "data": "ShftDate", "width": "5%", "render": function (data) {
                     if (data == null) {
                         return "--"
                     }
                     else {
                         var date = new Date(parseInt(data.substr(6))).getDate();
                         var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
                         var datey = new Date(parseInt(data.substr(6))).getFullYear();
                         var hour = new Date(parseInt(data.substr(6))).getHours();
                         var minute = new Date(parseInt(data.substr(6))).getMinutes();
                         var secend = new Date(parseInt(data.substr(6))).getSeconds();
                         var fl = datey + "-" + datem + "-" + date + " " + hour + ":" + minute + ":" + secend;
                         return fl
                     }
                 }
             },
             { "data": "total", "width": "1%" }
                ]
            });
        // var table patient list reception
            var table = $('#TabPatient').DataTable({
                cache: true,
                bProcessing: false, sAjaxSource: '/Doctors/Admin/TabPatients', "order": [[0, "desc"]], bFilter: true, bInfo: false, lengthChange: false, scrollY: '300px', scrollCollapse: true, bPaginate: true,
                columns: [
             { "data": "ID", "visible": false },
             { "data": "ShiftID", "visible": false },
             { "data": "PatientName", "width": "2%" },
             { "data": "ServName", "width": "1%" },
             {
             "data": "CreateDate", "width": "1%", "render": function (data) {
             if (data == null) {
             return "--"
             }
             else {
             var date = new Date(parseInt(data.substr(6))).getDate();
             var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
             var datey = new Date(parseInt(data.substr(6))).getFullYear();
             var hour = new Date(parseInt(data.substr(6))).getHours();
             var minute = new Date(parseInt(data.substr(6))).getMinutes();
             var secend = new Date(parseInt(data.substr(6))).getSeconds();
             var fl = datey + "-" + datem + "-" + date + " " + hour + ":" + minute + ":" + secend;
             return fl
             }}},
             {
                 "data": null, "sClass": "dt-center", "width": "1%", "orderable": false,
                 "defaultContent": "<button  class='addtoshift small btn-warning'id='post'><i class='fa fa-plus'></button>"
             },
              { "data": "Code", "visible": false }
                ]
            });
            $('#patogele').click(function () {
                $('#patlistvx').toggle();
                var table = $('#patlist').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Admin/PatTbl').load();
            });
            $('#btwaitexpand').click(function () {
                $('#panelwaitlist').toggle();
                var table = $('#tbwait').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Admin/WaitTbl').load();
            });
        // refresh table
            $('#refreshz').click(function () {
                var table = $('#patlist').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Admin/PatTbl').load();
            });
            $('#refresh').click(function () {
                var table = $('#tbwait').DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Doctors/Admin/WaitTbl').load();
            });
        // select table patlist
            $('#patlist tbody').on('click', 'tr', function () {
                var table = $("#patlist").DataTable();
                table.$('tr.selected').removeClass('selected');
                $(this).closest('tr').addClass('selected');
            });
        // select table wait list
            $('#tbwait tbody').on('click', 'tr', function () {
                var table = $("#tbwait").DataTable();
                table.$('tr.selected').removeClass('selected');
                $(this).closest('tr').addClass('selected');
            });
       // select table wait list
            $('#TabPatient tbody').on('click', 'tr', function () {
                var table = $("#TabPatient").DataTable();
                table.$('tr.selected').removeClass('selected');
                $(this).closest('tr').addClass('selected');
            });
        // select table shiftreport
            $('#shiftreport tbody').on('click', 'tr', function () {
                var table = $("#shiftreport").DataTable();
                table.$('tr.selected').removeClass('selected');
                $(this).closest('tr').addClass('selected');
            });
        // auto complete for serv id
            $('#serv').autocomplete({
                autoFocus: true,
                messages: { noResults: '', results: function () { } },
                appendTo: $('#MdAdPat'),
                source: function (request, response) {
                    $.ajax({
                        url: "@(Url.Action("autoserv", "Admin"))",
                        type: 'GET',
                    cache: false,
                    dataType: 'json',
                    data: { Prefix: request.term },
                    success: function (json) {
                        response($.map(json, function (data, ID, ServName, PaidAmount) {
                            return {
                                label: data.ID + " - " + data.ServName,
                                value: data.ID ,
                                amount: data.PaidAmount
                            }; uest
                        }));
                    },
                    });
            },
            focus: function (event, ui) {
                return false;
            },
            select: function (event, ui) {
                $('#servID').val(ui.item.value);
                $('#serv').val(ui.item.label);
                $('#PaidAmount').val(ui.item.amount);
                return false;
            },
            change: function (event, ui) {
                var source = $(this).val();
                var found = false;
                $('#serv').filter(function () {
                    if (ui.item != null) {
                        found = true;
                    }
                    else {
                        $(this).val('');
                        $(this).focus();
                        $('#PaidAmount').val('');
                    }
                    if ($(this).val() == null) {
                        $('#PaidAmount').val('');
                    }
                });
            }
            });
        // open add modal
        $('#btnewpat').click(function () {
            $('#MdAdPat').modal({ backdrop: false });
            shiftcount();
            shiftdate();
            $('#visitdate').val(getdate);
        });
        // Open model form nav shift modal
        $('#navshift').click(function () {
            Gent();
            $('#mdshift').modal({ backdrop: false });
            $('#shiftdate').val(getdate);
        });
        // Open model form nav refund modal
        $('#navRefundRp').click(function () {
            $('#mdRefundeport').modal({ backdrop: false });
            var table = $("#Refundreport").DataTable();
            table.$('tr.selected').removeClass('selected');
            table.clear();
            table.draw();
            table.ajax.url('/Doctors/Admin/RefundRp').load();
        });
        // Open modal form nav shift report total
        $('#navshiftreport').click(function () {
            $('#mdshiftreport').modal({ backdrop: false });
            var table = $("#shiftreport").DataTable();
            table.$('tr.selected').removeClass('selected');
            table.clear();
            table.draw();
            table.ajax.url('/Doctors/Admin/ShiftReportTbl').load();
        });
        // Open Modal Form Nav Patient List  navPatientList
        $('#navPatientList').click(function () {
            $('#mdPatientList').modal({ backdrop: false });
            var table = $("#TabPatient").DataTable();
            table.$('tr.selected').removeClass('selected');
            table.clear();
            table.draw();
            table.ajax.url('/Doctors/Admin/TabPatients').load();
        });
        // add new shift work modal shift
        $('#adshift').click(function () {
            var conf = confirm("سوف يتم انشاء شفت جديد و يتم اغلاق اخر شفت عمل نهائياً  ");
            if (conf) {
                $.ajax({
                    url: "@(Url.Action("adshift", "Admin"))",
                    type: "GET",
                contentType: "application/json; charset=utf-8",
                data: {
                    shiftdate: $('#shiftdate').val(),
                    cbyn: $('#cbyn').val()
                },
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        alert(data.Message)
                        $("#mdshift").modal("hide");
                        var table = $("#patlist").DataTable();
                        table.$('tr.selected').removeClass('selected');
                        table.clear();
                        table.draw();
                        table.ajax.url('/Doctors/Admin/PatTbl').load();
                    } else {
                        alert(data.Message)
                    }
                }
            });
            } else {
            }
        })
        // button add new patient
        $('#adnpat').click(function () {
            if ($('#spatientname').val() == ' ') {
                $('#spatientname').focus();
                $('#spatientname').addClass('input-validation-error');
                alert('يجب تحديد اسم المريض');
            }
            else if ($('#serv').val() == '') {
                $('#serv').focus();
                $('#serv').addClass('input-validation-error');
                alert('يجب تحديد نوع الزيارة');
            } else {
                $.ajax({
                    url: "@(Url.Action("adpat", "Admin"))",
                    type: "GET",
                contentType: "application/json; charset=utf-8",
                data: {
                    patname: $('#spatientname').val(),
                    servID: $('#servID').val(),
                    servname:$('#serv').val(),
                    mob: $('#mob').val(),
                    phone:$('#phone').val(),
                    adress: $('#adress').val(),
                    cby: $('#cby').val(),
                    paidamount: $('#PaidAmount').val(),
                    visitdate: $('#visitdate').val(),
                    gender: $('#gender').val(),
                    shftid: $('#shftid').val(),
                    cbyn: $('#cbyn').val()
                },
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        $("#MdAdPat").modal("hide");
                        alert(data.Message)
                        var table = $("#patlist").DataTable();
                        table.$('tr.selected').removeClass('selected');
                        table.clear();
                        table.draw();
                        table.ajax.url('/Doctors/Admin/PatTbl').load();
                    } else {
                        alert(data.Message)
                    }
                }
            });
        }
        });
        // button add new patient
        $('#adnpata').click(function () {
            if ($('#spatientname').val() == ' ') {
                $('#spatientname').focus();
                $('#spatientname').addClass('input-validation-error');
                alert('يجب تحديد اسم المريض');
            }
            else if ($('#serv').val() == '') {
                $('#serv').focus();
                $('#serv').addClass('input-validation-error');
                alert('يجب تحديد نوع الزيارة');
            } else {
                $.ajax({
                    url: "@(Url.Action("adpats", "Admin"))",
                    type: "GET",
                contentType: "application/json; charset=utf-8",
                data: {
                    patname: $('#spatientname').val(),
                    servID: $('#servID').val(),
                    servname:$('#serv').val(),
                    mob: $('#mob').val(),
                    phone:$('#phone').val(),
                    adress: $('#adress').val(),
                    cby: $('#cby').val(),
                    paidamount: $('#PaidAmount').val(),
                    visitdate: $('#visitdate').val(),
                    gender: $('#gender').val(),
                    shftid: $('#shftid').val(),
                    cod: $('#cod').val(),
                    cbyn: $('#cbyn').val()
                },
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        $("#MdAdPata").modal("hide");
                        alert(data.Message)
                        var table = $("#patlist").DataTable();
                        table.$('tr.selected').removeClass('selected');
                        table.clear();
                        table.draw();
                        table.ajax.url('/Doctors/Admin/PatTbl').load();
                    } else {
                        alert(data.Message)
                    }
                }
            });
        }
        });
        // table button action send to wait list
        $('#patlist tbody').on('click', '.sendwait', function () {
            var table = $("#patlist").DataTable();
            table.$('tr.selected').removeClass('selected');
            $(this).closest('tr').addClass('selected');
            var idv  = table.cell('.selected', 0).data();
            var shft = table.cell('.selected', 1).data();
            var conf = confirm("هل تريد فعلاً اضافة المريض لقائمة الانتظار  سوف يتم اضافة قيمة الايصال الي الشفت  ");
            if (conf) {
                $.ajax({
                url: "@(Url.Action("sendtowaitlist", "Admin"))",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                data: { ID: idv, Shft: shft },
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        alert(data.Message)
                        refresh()
                    } else {
                        alert(data.Message)
                    }
                }
            });
            } else {
                alert('لقد تم الغاء العملية')
            }

        });

        // button send next patient to doctor's screen
        $('#tbwait tbody').on('click', '.quebutton ', function () {
            var table = $("#tbwait").DataTable();
            table.$('tr.selected').removeClass('selected');
            $(this).closest('tr').addClass('selected');
            var codes = table.cell('.selected', 0).data();
            $.ajax({
                url: "@(Url.Action("SendtoDoct", "Admin"))",
                type: "GET",
            contentType: "application/json; charset=utf-8",
            data: { id: codes },
            dataType: "json",
            success: function (data) {
                if (data.Success) {
                    alert(data.Message)
                    refresh()
                } else {
                    alert("حدث خطاء ")
                }
            }
        });
        });
        // table button action open rays modal
        $('#tbwait tbody').on('click', '.openray', function () {
            var table = $("#tbwait").DataTable();
            table.$('tr.selected').removeClass('selected');
            $(this).closest('tr').addClass('selected');
            var idv = table.cell('.selected', 0).data();
            var patname = table.cell('.selected', 2).data();
            $('#zvid').val(idv);
            $('#vname').val(patname);
            $('#Mdrays').modal({ backdrop: false });
        });
        // table button action send to doctor list
        $('#tbwait tbody').on('click', '.rebutton', function () {
            var table = $("#tbwait").DataTable();
            table.$('tr.selected').removeClass('selected');
            $(this).closest('tr').addClass('selected');
            var idv = table.cell('.selected', 0).data();
            var conf = confirm("هل تريد فعلا الغاء الحجز  لن يمكنك التراجع عن هذا الاجراء  ");
            if (conf) {
                $.ajax({
                    url: "@(Url.Action("Refund", "Admin"))",
                    type: "GET",
                contentType: "application/json; charset=utf-8",
                data: { ID: idv},
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        alert(data.Message)
                        refresh()
                    } else {
                        alert("حدث خطاء ")
                    }
                }
            });
            } else {
                alert('لقد تم الغاء العملية')
            }

        });
        // table button action send to doctor list
        $('#TabPatient tbody').on('click', '.addtoshift', function () {
            var table = $("#TabPatient").DataTable();
            table.$('tr.selected').removeClass('selected');
            $(this).closest('tr').addClass('selected');
            var idv = table.cell('.selected', 0).data();
            var vname = table.cell('.selected', 2).data();
            var conf = confirm(" هل تريد اضافة المريض لقائمة الانتظار ");
            if (conf) {
                // close modal patient list
                $("#mdPatientList").modal("hide");
                // open modal patient add new
                $('#MdAdPat').modal({ backdrop: false });
                shiftcount();
                shiftdate();
                $('#visitdate').val(getdate);
                $('#spatientname').val(vname);
            }
        });
        $('#patlist tbody').on('click', '.cashx', function () {
            var table = $("#patlist").DataTable();
            table.$('tr.selected').removeClass('selected');
            $(this).closest('tr').addClass('selected');
            var idv = table.cell('.selected', 0).data();
            var vname = table.cell('.selected', 2).data();
            var serv = table.cell('.selected', 3).data();
            var moun = table.cell('.selected', 4).data();
            $('#patientname').text(vname);
            $('#vserv').text(serv);
            $('#xval').text(moun);
            $('#mdcashrp').modal({ backdrop: false });
        });
        $('#bbcashrp').click(function () {
            $("#shiftnum").text($("#qdate").val())
            $("#qdate").hide()
            printdiv('mdcashrp')
            $('#mdcashrp').modal('hide')
            location.href = '/Doctors/Admin/Index';
        });
    </script>
}
